h1, p {
	font-family: "Courier New", Courier, monospace;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}

.calcContainer {
	display: grid;
	width: 400px;
	height: 475px;
	border: 2px solid #000;
	border-radius: 10px;
	padding: 3px;
	margin: 50px auto;
	background-color: #000;
	overflow: hidden;
}

.calcDisplay {
	background-color: #000;
	border: 2px solid black;
	border-radius: 10px;
	color: #fff;
	text-align: right;
	height: 20px;
	width: 380px;
  font-size: 2.5rem;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	margin-top: 40px;
}

.calcBtns {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
  width: 400px;
  margin-top: 2rem;
}

.reset {
	color: #000;
	background-color: #fbff00;
	grid-column-start: 1;
	grid-column-end: 3;
}

.reset:hover {
  background-color: #e6d602;
}

#equals {
	grid-column-start: 3;
	grid-column-end: 5;
}

.operator {
	background-color: #fbff00;
	color: #000;
}

.operator:hover {
  background-color: #e6d602;
}

.delete {
	background-color: #f00;
	color: #fff;
	font-size: 2.25rem;
}

.delete:hover{
  background-color: #8f0000;
  color: #fff;
}

button {
	font-size: 3rem;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	font-weight: bold;
	color: red;
}

.number:hover {
	background-color: #ababab;
	color: #000;
}


